<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RSS Feeder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="mx-auto" style="width: 50%;"><br/>
    <form method="post" action="/handle">
        <div class="form-group">
            <label for="emailAddress">E-mail address</label>
            <input type="email" class="form-control" name="emailAddress" id="emailAddress"
                   placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="feedUrl">Link to RSS</label>
            <input type="url" class="form-control" name="feedUrl" id="feedUrl" placeholder="http://example.com">
        </div>
        <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
        <button type="submit" name="action" value="send" class="btn btn-outline-success">Send</button>
        <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
    </form>
    <br/>
</div>
<div class="mx-auto" style="width: 50%;">
    <p>Debugger:</p>
    <iframe id="debug"
            title="RSS Feeder | Debug"
            width="100%"
            height="600px"
            src="/debug">
    </iframe>
</div>
</body>
</html>